@mixin screen($size) {
    $desktop: "(min-height: 550px)";
    $tablet: "(max-height: 550px)";
    $mobile: "(max-height: 480px) or (max-width: 320px)";
    @if $size == desktop {
      @media only screen and #{$desktop} {
        @content;
      }
    }
    @else if $size == tablet {
      @media only screen and #{$tablet} {
        @content;
      }
    }
    @else if $size == mobile {
      @media only screen and #{$mobile} {
        @content;
      }
    }
    @else {
      @media only screen and #{$size} {
        @content;
      }
    }
  }

  @mixin position($which){
    @if $which == center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
